body {
    background-color: #0e2644;
}

.release-container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.release-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
    
}

.vinyl-cover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.vinyl-cover {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.vinyl-cover:hover + .moreImages {
    color: #0056b3;
    text-decoration: underline;
}

.moreImages {
    text-align: center;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.moreImages:hover {
    color: #0056b3;
    text-decoration: underline;
}

.vinyl-info h1 {
    color: #000000;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.vinyl-info-table {
    width: 100%;
    border-collapse: collapse;
}

.vinyl-info-table td {
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
}

.vinyl-info-table td:first-child {
    font-weight: bold;
    white-space: nowrap;
    width: 100px;
    font-size: 14px;
}

.secondary-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.secondary-cover {
    width: 150px;
    border-radius: 5px;
}
h2 {
    margin-top: 20px;
    color: #000000;
    border-bottom: 2px solid #296ec2;
    padding-bottom: 5px;
}
.tracklist {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.tracklist th, .tracklist td {
    border: 1px solid #296ec2;
    padding: 8px;
    text-align: left;
}
.tracklist th {
    background: #205698;
}
.purchase-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.buy-button, .wishlist-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 0 auto;
}

.buy-button {
    background: #28a745;
    color: white;
}

.wishlist-button {
    background: #007bff;
    color: white;
}

.fa-spotify {
    color: #1ed760;
    font-size: 50px;
}

.fa-spotify:hover {
    color: #49dc7d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    max-width: 700px;
    height: 75vh;
    position: relative;
}

.modal-content img {
    max-height: 75vh; 
    object-fit: contain; 
}

.thumbnails-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
    padding: 10px;
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-snap-type: x mandatory;
    max-width: 100%;
    position: relative;
    flex-wrap: nowrap; 
}

.thumbnails-container.scrolled {
    justify-content: flex-start;
}

.thumbnails-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px; 
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.thumbnails-container::-webkit-scrollbar {
    height: 8px; 
}

.thumbnails-container::-webkit-scrollbar-track {
    background: #333; 
}

.thumbnails-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    border: 2px solid #333; 
}

.thumbnail {
    width: 50px; 
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    opacity: 0.7;
    scroll-snap-align: center; 
}

.thumbnail:hover {
    transform: scale(1.1);
}

.selected {
    border: 2px solid #fff;
    opacity: 1;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
}

.prev::before, .next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; 
    height: 200px; 
    transform: translate(-50%, -50%);
    background: transparent;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: rgba(195, 195, 195, 0.8);
}

.listing-summary {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #205698;
    font-size: 16px;
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.listing-summary p {
    margin: 0;
}

.sell-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.sell-button:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .release-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .vinyl-info {
        text-align: center;
    }
}

