body {
    background-color: #0e2644;
}

h1 {
    color: black;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: normal;
}

.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

.container-logo {
    width: 200px;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 16px 12px 6px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    color: #777;
    font-size: 16px;
    transition: 0.2s ease;
    pointer-events: none;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group select:focus ~ label,
.form-group select.has-value ~ label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #205698;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #205698;
}

input::placeholder {
    color: transparent;
}

.btn {
    background-color: #173e6e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #205698;
}

.header{
    display: none;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}